# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/15.6/loremIpsum/nbproject/private/
/15.6/loremIpsum/build/
/15.6/Morseovka/nbproject/private/
/15.6/Morseovka/build/
/15.6/cyklusForSoucet/nbproject/private/
/15.6/cyklusForSoucet/build/
/15.6-doma/prumerCiselVPoli/nbproject/private/
/15.6-doma/prumerCiselVPoli/build/
/20.6.2017/caesarovaSifra/nbproject/private/
/22.6.2017/ceskaVrazdirna/nbproject/private/
/22.6.2017/praceSfunkcemi/nbproject/private/
/22.6.2017/praceSfunkcemi/build/
/22.6.2017/caesarovaSifraSPolema/nbproject/private/
/22.6.2017/caesarovaSifraSPolema/build/
/22.6.2017-doma/dama/nbproject/private/
/22.6.2017-doma/dama/build/
/22.6.2017-doma/ceasarovaSifraSnacitanim/nbproject/private/
/22.6.2017-doma/ceasarovaSifraSnacitanim/build/
/1.8/parkoviste/nbproject/private/
/1.8/Montgomeryho_Krypkovani/nbproject/private/
/1.8/Montgomeryho_Krypkovani/build/
/1.8/serializaceMultidimenzionalnihoPole/nbproject/private/
/1.8/serializaceMultidimenzionalnihoPole/build/
/1.8/dotaznik_BitoveOperatory/nbproject/private/
/1.8/dotaznik_BitoveOperatory/build/
/1.8/CsvTvorba/nbproject/private/
/1.8/CsvTvorba/build/
/1.8/startupjobs/nbproject/private/
/1.8/startupjobs/build/
/7.8/Montgomeryho_Krypkovani2/nbproject/private/
/7.8/Montgomeryho_Krypkovani2/build/
/8.8-doma/MontgomeryhoRedukce/nbproject/private/
/1.8/parkoviste/build/
/8.8/sort/nbproject/private/
/8.8/sort/build/
/10.8/mojePrvniOOP/nbproject/private/
/10.8/mojePrvniOOP/build/
/15.8/Cars/nbproject/private/